.logo{
    -fx-background-color: #fff;
}

.login{
    -fx-background-color: #000;

}
.button{
    -fx-background-color: #fff;
    -fx-text-fill: #333;
    
}

.button:focused{
    -fx-text-fill: #0284c7 ;
    -fx-background-color: #bae6fd ;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.btn{
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: #0284c7;

    -fx-text-fill: #0284c7;
}

.btn:focused{
    -fx-font-size: 12px;
    
}


.button:hover{
    -fx-text-fill: #0284c7;
    -fx-background-color: #e0f2fe;
}

.sidebar{
    -fx-background-color: #fff;
}
.btn_primary{
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-background-color: #0284c7;

    -fx-text-fill: #fff;
}
.btn_primary:hover{
    -fx-background-color: #38bdf8;
    -fx-font-size: 12px;
    
    -fx-text-fill: #fff;
}
.btn_primary:focused{
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-background-color: #0284c7;
    -fx-font-size: 12px;

    -fx-text-fill: #fff;
}

/* #menuButton:hover{
    -fx-background-color:#efe9ff ;
    
} */
/* .active{
    -fx-text-fill: #7942fe ;
    -fx-background-color: #efe9ff ;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-background-color: #0284c7;
    
    -fx-text-fill: #fff;
} */


.danger{
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: #fc0404;
    
    -fx-text-fill: #fc0404;
    
}


.danger :hover{
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: #fc0404;
    -fx-background-color:#dab8b8 ;
    -fx-text-fill: #fc0404;
    
}

.text-field{
    /* -fx-border-radius:10px; */
    /* -fx-background-color:transparent; */
    -fx-font-family: Segoe UI;
    -fx-font-size: 14px;
    -fx-font-style: italic; 
    /* -fx-border-color: #3f4d67; */
}